# Maven
/.mvn/
/target/
accessguard/target/
dependency-reduced-pom.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
/.classpath
/.project
/.settings/

# VSCode
.vscode/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Maven Wrapper
mvnw
mvnw.cmd

# Build output
*.class
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.swp
*.swo